@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,500&display=swap');

:root{
    --main-black-color: rgba(33, 31, 31, 0.97);
    --main-black-color2: rgb(49, 46, 46);
    --main-black-color3: rgb(93, 85, 85);
    --main-red-color:  rgb(203, 25, 25);
    --main-red-color2: rgb(208, 25, 25);
}
*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/*    *LABELS  ------------------------------------ */
h1{
    margin: 2.5% 0 0;
    font-size: 4em;
    font-family: Rubik;
    font-weight: 800;
}
h2, h4{
    margin: 5px 0;
}
h4{
    font-weight: 100;
    font-size: 18px;
}
body{
    margin: 0;
}
header{
    background-color: white;
    padding: 0 3%;

}
nav {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}
a{
    text-decoration: none;
    color: var(--main-red-color);
    font-weight: 800;
}
li{
margin: 0 3%;
width: auto;
}
label, .p-login{
    font-size: 1.3em;
    margin-bottom: 8px;
}
input{
    margin-bottom: .7em;
}
input[type=text], input[type=password], input[type=email] {
    width: 75%;
    margin-bottom: 1em;
    font-size: 1.3em;
    border-radius: 7px;
    padding-left: 2%;
}
.body-index{
    background-image: url('assets/IMG_0209.jpg') ;
    background-size: 126%;
}
.body-home{
    margin: 0;
}
.main-home{
    background-color: var(--main-black-color2);
}
.main-index{
display: flex;
flex-direction: column;
align-items: center;
}




 /*   * NAV BAR MENU  ------------------------------- */
#nav_superior{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     height: 4.3em;
}
#menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: none 2px var(--main-red-color);
    opacity: 0;
    transition: opacity 2s ease;
}
#menu.active {
    display: block;
    opacity: 1;
  }
#menu_icon {
    cursor: pointer;
    width: 2.6em;
}
.menu_ul {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    width: 100%;
}
.userNav{
    display: flex;
    flex-direction: row;
}
.userNameNav{
    font-size: 1.4em;
    font-weight: bolder;
    background-color: var(--main-black-color2);
    color: white;
    border-radius: 7px;
    margin: 2px 0;
    padding: 5px 10px 8px;
}
#userImg{
    width: 25%;
    height: 25%;
    margin-right: 5%;
    padding-top: 1%;
}


  

/*    *FORMULARIOS LOGIN Y SIGNUP  ----------------------   */
.wel-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 3.2em;
    width: 96%;
    border-radius: 7px;
    color: var(--main-red-color2);
    font-style: italic;
    background-color: var(--main-black-color);
}
#logo{
    width: 28%;
    margin-right: -2.2%;
    margin-bottom: 2%;
}
#logIn_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 96%;
    margin-top: 3em;
    padding: 2.3em 0;
    background-color: var(--main-black-color);
    color: white;
    border-radius: 7px;
}
#signUp_form{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin-top: 3em; 
    padding: 2.3em 0;
    background-color: var(--main-black-color);
    color: white;
    border-radius: 7px;
}
#signupFreeButton, input[type=submit]{
    height: 2.3em;
    margin: 0 2%;
    padding: 0 5%;
    border-radius: 7px;
    font-weight: 300;
    font-size: 1em;
    color: white;
    background-color: var(--main-red-color);
    transition: background-color .7s ease;
}
  input[type=submit]:hover, #signupFreeButton:hover, #logOutButton:hover{
    border: solid var(--main-red-color) 5px;
    color: var(--main-red-color);
    border-radius: 7px;
    font-weight: bold;
    box-shadow: 0 0px 13px 3px rgb(86, 84, 84);
    animation: hoverEffect .6s forwards;
}
@keyframes hoverEffect {
    from {
      background-color: var(--main-red-color); }
    to {
      background-color: white; }
  }


/* *  NEXT RACE MENU  --------------------------------------  */
.head-race{
    background-color: var(--main-black-color2);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 3%;
}
.next-race{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--main-black-color3);
    border-radius: 7px;
    padding: .5em ;
    margin: 5% 0;
}


/* *  CAROUSEL  CARDS  ------------------------------------- */
.drivers-list{
    padding: 10px 15px;
    color: white;
    margin: 0 3%;
}
.carousel-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.car-but-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 95%;
}
#unknown-driver{
    width: 40%;
}
.btn-select, #logOutButton{
    height: 3em;
    margin: 0 2%;
    padding: 0 5%;
    border-radius: 7px;
    font-weight: 300;
    font-size: 1em;
    color: white;
    background-color: var(--main-red-color);
    transition: background-color .7s ease;
}
.btn-select:hover, #logOutButton:hover, .btn-delete{
    cursor: pointer;
}
#logOutButton{
    padding: 0 9px;
}
.btn-delete{
    margin: 2% 0 4%;
    height: 2.5em;
    border-radius: 7px;
}


/* * SELECTED DRIVERS  -------------------------------------  */
.sec-driver-wrap{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 1.5em 0;
}
.sec-driver{
    width: 80%;
    border-radius: 7px;
    height: 11em;
    background-color: var(--main-black-color2);
    border-bottom: solid white 2px;
    border-right: solid white 2px;
    margin: .3em 0;
    /* box-shadow: 0 0px 13px 3px rgb(86, 84, 84); */
}


/* * ACORDEON ----------------------------------------------------  */
#btn-selectDriver{
    margin: 0 auto;
    width: 55%;
}
  #accordion {
    margin: .5em auto;
    width: 90%;
    height: 168vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
  .accordion__item.open .toggleInfoClass {
    display: block;
  }
  .accordion__item.open {
    flex-grow: 3;
  }  
  .accordion__item { 
    flex-basis: 7%;
    height: 100%;
    margin-top: 1.5em;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: helvetica;
    background-color: var(--main-black-color3);
    cursor: pointer;
    color: white;
    border-right: solid white;
    border-bottom: solid white;
    transition: 
      flex-grow .4s linear,
      background-color .2s ease
  }
  .accordion__item:active { 
    box-shadow: 1px 1px .1em #67adb5;
    background-color: var(--main-black-color3);
    color: white;
  }
  .driver-FP{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .driverImg{
    width: 25%;
  }
  .driver-label{
    margin-left: 5%;
  }
  .hidden{
    display: none;
  }
  .driverInfoBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .toggleInfoClass{
    font-size: 1.5em;
  }
  /* input[type=checkbox]{
    width: 15px;
  }
  input[type=checkbox]:checked{
    background-color: var(--main-red-color);
  } */

  